<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @{
        var d = 0;
    }


    <title>@ViewData["Title"] - Mua ban do cu</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="~/Assset/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/full.min.css">
    <script src="~/lib/vue/vue.js"></script>

  
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template-->
    <link href="~/Assset/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assset/Pront/style.css" rel="stylesheet" />


    <script type="text/javascript">
        var ecommerce = {};
        window.ecommerce = ecommerce;
        ecommerce.baseUrl = "@Url.Content("~/")";
         var baseUrl = "@Url.Content("~/")";
    </script>

</head>
<body>
    <header>
        
        @await Html.PartialAsync("_Header.cshtml")
        
    </header>
    
    <div class="container">
        @await Html.PartialAsync("_IconMain.cshtml")

       
        <partial name="_BreadCrumbs" />
        <main role="main" class="pb-3 pt-lg-1 pb-5" style="background-color:#fff">
            @RenderBody()
            @await Html.PartialAsync("Partial/_Notifications.cshtml")
            @await Html.PartialAsync("Partial/_AlertDialog.cshtml")

        </main>
    </div>


    <script src="~/lib/vue/vue.js"></script>

    <script src="~/js/tinymcevue.js"></script>
    @RenderSection("Scripts", required: false)

<footer class="page-footer font-small blue-grey lighten-5">
    
    <div style="background: #0777bc url(/Assset/Pront/images/bg-box-regis-email.png) no-repeat center center;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 text-light">
                        LIÊN KẾT!
                    </h6>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f text-light mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter text-light mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g text-light mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in text-light mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram text-light"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">VỀ CHÚNG TÔI</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-justify">
                    Chợ Mua Bán Đồ Cũ chính thức gia nhập thị trường Việt Nam vào đầu năm 2015, với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ. Đến nay, Chợ Mua Bán Đồ Cũ tự hào là Website rao vặt được ưa chuộng hàng đầu Việt Nam. 
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">
                    HỖ TRỢ KHÁCH HÀNG
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Trung tâm trợ giúp</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">An toàn mua bán</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Quy định cần biết</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Liên hệ hỗ trợ</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Nội qui và Quy chế</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Your Account</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Help</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">
                    LIÊN HỆ
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> 02 Văn Tiến Dũng, Bắc Từ Liêm, Hà Nội
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> chomuabandocu@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 097 897 0190
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 033 748 7302
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <hr />
    <div class="footer-copyright text-center text-black-50 py-3">
        <section class="appWrapper-DesktopFooter-container-bottom">
            <address class="appWrapper-DesktopFooter-address">CÔNG TY TNHH Mua Bán Đồ Cũ - Địa chỉ: 02 Văn Tiến Dũng, Bắc Từ Liêm, Hà Nội <br>Giấy chứng nhận đăng ký doanh nghiệp số 0352120782 do Sở Kế Hoạch và Đầu Tư Thành Phố HN cấp ngày 11/01/2013 <br>Email: chomuabandocu@gmail.com - Đường dây nóng: 097 897 0190</address>
        </section>
    </div>
    <!-- Copyright -->

</footer>
</body>
</html>
